p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

nav div ul li a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

footer {
    clear: both;
    background: #666666;
    text-align: center;
    font-family: arial;
    font-size: 24px;
    color: white;
}

body {
    background-color: #73afad;
}

.aside {
    margin-top: 60px;
}

.social-div {
    padding-left: 20px;
}

a {
    padding-left: 15px;
}

.thumbnail {
    background-color: #c2e1a6;
}